# Created by https://www.gitignore.io/api/vue,vim,git,node,code,nuxt,xcode,vuejs,linux,macos,kotlin,windows,android,angular,flutter,webstorm,firebase,reactnative,objective-c,androidstudio
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/gradle/wrapper/gradle-wrapper.jar
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
$RECYCLE.BIN/
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/doc/api/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.symlinks/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
**/xcshareddata/WorkspaceSettings.xcsettings
*-debug.log*
*-error.log*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.aab
*.ap_
*.apk
*.class
*.ctxt
*.dSYM
*.dSYM.zip
*.dex
*.ear
*.hmap
*.iml
*.ipa
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.lcov
*.lnk
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.nar
*.orig
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.rar
*.rs.bk
*.seed
*.stackdump
*.swp
*.tar.gz
*.tgz
*.tsbuildinfo
*.war
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*google-services.json
*secrets*
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store*
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.buckconfig.local
.buckd/
.buckversion
.cache
.cargo-ok
.classpath
.com.apple.timemachine.donotpresent
.cproject
.dart_tool/
.directory
.dynamodb/
.env
.env.*
.eslintcache
.expo
.externalNativeBuild
.fakebuckversion
.firebase
.firebaserc
.flutter-plugins
.flutter-plugins
.fseventsd
.fuse_hidden*
.fusebox/
.gradle/
.gradletasknamecache
.grunt
.idea
.idea_modules/
.lock-wscript
.mtj.tmp/
.navigation/
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.npmrc
.nuxt
.nyc_output
.packages
.project
.pub-cache/
.pub/
.rpt2_cache
.runtimeconfig.json
.sass-cache
.serverless/
.settings/
.signing/
.tern-port
.vscode/*
.vuepress/dist
.yarn-integrity
/*.gcno
Cargo.lock
Carthage/Build
DerivedData/
Icon
Network Trash Folder
Release/
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
__generated__
atlassian-ide-plugin.xml
bin/
bower_components
buck-out/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
connect.lock
coverage/
crashlytics-build.properties
crashlytics.properties
dist/
docs/_book
ehthumbs.db
ehthumbs_vista.db
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/screenshots/**/*.png
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
gradle-app.setting
hs_err_pid*
iOSInjectionProject/
jspm_packages/
lib-cov
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
logs
node_modules
now-secrets.json
out/
output.json
pids
proguard/
release/
report.*.json
tmp/
vcs.xml
xcuserdata/
# End

# Additional to .gitignore
!dist/
!out/
*.config.js
*.config.ts
*.md
.*ignore
.*rc
.gitignore
.travis.yml
now*.json
src
tsconfig*.json
tslint.json
